/* src/components/Grid.css */
/* src/components/Grid.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 1px;
  width: 450px; /* Adjust the width to fit your needs */
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  padding-top: 100%; /* Maintain a 1:1 aspect ratio for each cell */
  background-color: gray; /* Set your desired cell background color */
  border: 1px solid #fff; /* Add a border to the cell for separation */
}
